name: Android CI

on:
  push:
    branches: [ "v0.5_arcore_cloud" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    env:
      KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x OpenLIFU-3DScanner/gradlew
    - name: Build with Gradle
      working-directory: OpenLIFU-3DScanner
      run: ./gradlew assembleRelease

    - name: Upload release APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: OpenLIFU-3DScanner/app/build/outputs/apk/release/*.apk
